html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 175px;
  background: $bg-color;
}

.navbar{
  background: #ff9933 url(../../img/banner/banner.png) top right no-repeat;
}


.banner-xa{
  padding: 10px 5px;
  float: left;
  height: 100%;
}

.banner-top-right{
  padding: 2px 0;;
  float: left;
  height: 100%;
}

.dropdown-submenu {

    position: relative;

    .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      margin-left: -1px;
    }

    &:hover {

      .dropdown-menu {
          display: block;
      }
    }
}


.main-content{

  .tab-group-item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    .tab-pane{

      padding: 10px 15px;
      border: 1px solid #ddd;
      border-top: none;

      .tin-moi{
        padding: 5px 0;
      }

    }
  }


}

.list-group{
  .list-group-item{

    .tintuc{
      padding-right: 10px;
      padding-bottom: 20px;

      h4{
        text-align: center;
      }
      .minhhoa{
        padding: 5px;
      }

      .news-desc{
        text-align: justify;
        text-indent: 30px;

      }
    }


    .chi-tiet-tin{
      h3{
        text-align: center;
      }
      .news-desc{
        text-align: justify;
        text-indent: 30px;
        font-weight: bold;
        font-style: italic;
      }
      .minhhoa{
        img{
          display: block;
          margin: 0 auto;
        }
      }
      .noi-dung{
        text-align: justify;
        text-indent: 30px;
        img{
          display: block !important;
          margin: 0 auto !important;
          width: 80%;
        }
        p{
          em{
            text-align: center;
          }

        }

      }
    }
  }
}



.copyright{
  background: url(../../img/bgr_footer.png);
  margin: 0px;
  padding: 0px;
}

.copyright-admin{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../../img/bgr_footer.png);
  margin: 0px;
  padding: 0px;
}

.content {
  text-align: center;
  margin: 2% 0px;
  color: #ffffff;
  width: 100%;
  float: left;

  h4 {
    text-transform: uppercase;
  }
}

.cd-top {
    display: inline-block;
    z-index: 999;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #ffffff url(../../img/cd-top-arrow.ico) no-repeat center center;
    background-size: 100% 100%;
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.chi-tiet-tin{
  h2{
    text-align: center;
  }

  .minhhoa{
    padding: 10px;
  }
}

.tim-kiem{
  float: left;
}

#googleMap {
    height: 250px;
    width: 100%;
}
